body{
    margin: 0;
    background-color: rgb(255, 255, 255);
    display:flex;
    justify-content:center;
    box-shadow:before;
    
    }
    
    
    main{
        background-color: rgb(185, 185, 185);
        height: 100dvb;
        width: 50%;
        align-items: center;
        justify-content: center;
        display: flex;
        border-radius: 25px;
    }
     form{
        display: flex;
        flex-direction: column;
        
     }